{% include "header.html" %}

<!-- Page Header-->
<header class="main-banner" style="background-image: url('../static/assets/img/home-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 style="color: white;">Dashboard</h1>
          <span class="subheading" style="color: white;">All the tasks are listed here</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Divider-->
      <div class="my-4"></div>

      <!-- Post preview-->
      {% for post in all_posts %}
      <!-- Accordion for Details -->
      <div class="accordion" id="accordionFlushExample">
          <div class="accordion-item">
              <div id="flush-collapse{{ post.id }}" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <div class="post-preview">
                        <a href="{{ url_for('show_task', post_id=post.id) }}">
                          <h2 class="post-title">{{ post.title }}</h2>
                        </a>
                        <p class="post-meta">
                          Posted by
                          <!-- post.author is now a User object -->
                          <a href="#">{{post.author.name}}</a>
                          on {{post.date}}
                          <!-- Only show delete button if user id is 1 (admin user) -->
                          {% if current_user.id == 1: %}
                          <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
                          {% endif %}
                        </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Divider-->
      <div class="my-4"></div>
      {% endfor %}

      <!-- New Post -->
      <!-- Only show Create Task button if user id is 1 (admin user) -->
      {% if current_user.id == 1: %}
      <div class="d-flex justify-content-end mb-4">
        <a
          class="btn btn-primary float-right"
          href="{{url_for('add_new_post')}}"
          >Create New Task</a
        >
      </div>
      {% endif %}

    </div>
  </div>
</div>

{% include "footer.html" %}