{% include "header.html" %}

<!-- Page Header-->
<header class="main-banner" style="background-image: url('../static/assets/img/home-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 style="color: white;">Dashboard</h1>
          <span class="subheading" style="color: white;">All the tasks are listed here</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->
<div class="container-fluid px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-12">
      <!-- Divider-->
      <div class="my-4"></div>

      <!-- Columns for each status -->
      <div class="row">
        <!-- To Do Column -->
        <div class="col-md-4">
          <h3>To Do</h3>
          <!-- Task preview for To Do-->
          {% for task in all_tasks if task.status == 'To do' %}
          <!-- Divider-->
          <div class="my-4"></div>
          <!-- Accordion Container -->
          <div class="accordion" id="postAccordionToDo">
            <!-- Accordion Item -->
            <div class="accordion-item border rounded shadow-sm">
              <h2 class="accordion-header" id="headingPostToDo{{ task.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostToDo{{ task.id }}" aria-expanded="false" aria-controls="collapsePostToDo{{ task.id }}">
                  {{ task.title }} - <small class="text-muted">&nbsp;{{ task.author.name }}</small>
                </button>
              </h2>
              <div id="collapsePostToDo{{ task.id }}" class="accordion-collapse collapse" aria-labelledby="headingPostToDo{{ task.id }}" data-bs-parent="#postAccordionToDo">
                <div class="accordion-body">
                  <p class="post-meta" style="font-size: 0.875rem; margin-bottom: 0;">
                    {{ task.body }}<br>
                    <span class="text-muted">Date: {{ task.date }}</span>
                  </p>
                  <!-- Button Wrapper -->
                  <div class="button-wrapper d-flex justify-content-center mt-3">
                    <form action="{{ url_for('show_task', post_id=task.id) }}" method="GET" style="display:inline;">
                      <button type="submit" class="btn btn-primary me-2">Open</button>
                    </form>
                    <form action="{{ url_for('edit_post', post_id=task.id) }}" method="GET" style="display:inline;">
                      <button type="submit" class="btn btn-secondary">Edit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>

        <!-- In Progress Column -->
        <div class="col-md-4">
          <h3>In Progress</h3>
          <!-- Task preview for In Progress-->
          {% for task in all_tasks if task.status == 'In progress' %}
          <!-- Divider-->
          <div class="my-4"></div>
          <!-- Accordion Container -->
          <div class="accordion" id="postAccordionToDo">
            <!-- Accordion Item -->
            <div class="accordion-item border rounded shadow-sm">
              <h2 class="accordion-header" id="headingPostToDo{{ task.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostToDo{{ task.id }}" aria-expanded="false" aria-controls="collapsePostToDo{{ task.id }}">
                  {{ task.title }} - <small class="text-muted">&nbsp;{{ task.author.name }}</small>
                </button>
              </h2>
              <div id="collapsePostToDo{{ task.id }}" class="accordion-collapse collapse" aria-labelledby="headingPostToDo{{ task.id }}" data-bs-parent="#postAccordionToDo">
                <div class="accordion-body">
                  <p class="post-meta" style="font-size: 0.875rem; margin-bottom: 0;">
                    {{ task.body }}<br>
                    <span class="text-muted">Date: {{ task.date }}</span>
                  </p>
                  <!-- Button Wrapper -->
                  <div class="button-wrapper d-flex justify-content-center mt-3">
                    <form action="{{ url_for('show_task', post_id=task.id) }}" method="GET" style="display:inline;">
                      <button type="submit" class="btn btn-primary me-2">Open</button>
                    </form>
                    <form action="{{ url_for('edit_post', post_id=task.id) }}" method="GET" style="display:inline;">
                      <button type="submit" class="btn btn-secondary">Edit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <!-- Done Column -->
        <div class="col-md-4">
          <h3>Done</h3>
          <!-- Task preview for Done-->
          {% for task in all_tasks if task.status == 'Done' %}
          <!-- Divider-->
          <div class="my-4"></div>
          <!-- Accordion Container -->
          <div class="accordion" id="postAccordionToDo">
            <!-- Accordion Item -->
            <div class="accordion-item border rounded shadow-sm">
              <h2 class="accordion-header" id="headingPostToDo{{ task.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostToDo{{ task.id }}" aria-expanded="false" aria-controls="collapsePostToDo{{ task.id }}">
                  {{ task.title }} - <small class="text-muted">&nbsp;{{ task.author.name }}</small>
                </button>
              </h2>
              <div id="collapsePostToDo{{ task.id }}" class="accordion-collapse collapse" aria-labelledby="headingPostToDo{{ task.id }}" data-bs-parent="#postAccordionToDo">
                <div class="accordion-body">
                  <p class="post-meta" style="font-size: 0.875rem; margin-bottom: 0;">
                    {{ task.body }}<br>
                    <span class="text-muted">Date: {{ task.date }}</span>
                  </p>
                  <!-- Button Wrapper -->
                  <div class="button-wrapper d-flex justify-content-center mt-3">
                    <form action="{{ url_for('show_task', post_id=task.id) }}" method="GET" style="display:inline;">
                      <button type="submit" class="btn btn-primary me-2">Open</button>
                    </form>
                    <form action="{{ url_for('edit_post', post_id=task.id) }}" method="GET" style="display:inline;">
                      <button type="submit" class="btn btn-secondary">Edit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- New Task -->
      <!-- Only show Create Task button if user id is 1 (admin user) -->
      {% if current_user.is_authenticated %}
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Task</a>
      </div>
      {% endif %}

    </div>
  </div>
</div>

{% include "footer.html" %}