
<!-- Extending the base template named "base.html" -->
{% extends "base.html" %}

<!-- Setting the title for this specific page -->
{% block title %}Secrets{% endblock %}

<!-- Defining the content block for this page -->
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome</h1>
        <p>Are you ready to discover my secret?</p>
        <a class="btn btn-primary btn-lg" href=" {{ url_for('login') }} "
          >Login</a
        >
      </div>
    </div>
{% endblock %}