<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>

    <!-- Print the list of all the books -->
    <!-- First of all, we will check if there is any book in the list -->
    {% if not all_books %}
        <p>Library is empty.</p>
    <!-- In case there are books, we will print them in a list -->
    {% else %}
        <ul>
            {% for book in all_books %}
                  <li>
                      <a href="{{ url_for('delete', id=book.id) }}">Delete</a>
                      {{ book.title }} - {{book.author}} -  {{book.rating}}
                      <a href="{{ url_for('edit', id=book.id) }}">Edit Rating</a>
                  </li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
</html>
